@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap');

:root {
  font-family: 'Cairo', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #1f2937;
  background-color: #f3f4f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}